body {
  background-color: #9775AA;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
  font-weight: strong;
}

hr {
  margin-top: 25px;
  margin-bottom: 25px;
  border: 0;
  border-bottom: 1px dashed #ccc;
  background: #999;
}

.container {
  
  background-color: #FFF6CD;
  width: 600px;
  margin: 50px auto 0 auto;
  padding: 15px;
  border: 3px solid gray;
  border-radius: 15px;
}

.entry {
  margin-left: 20px;
}

.form-label {
  margin-top: 10px;
  clear: left;
  float: left;
  width: 70px;

}

.form-control {
  width: 65%;
  margin-top: 5px;
}

.button {  
  border-radius: 15px;
  border: 1px solid #666;
  color:#FFFEF6;
  text-decoration:none;
  padding: 5px 10px;

}

.button-add {
  margin-left: 40%;
  background-color: green;
}

.button-back {
  float: left;
  background-color: #764A8E;
}

.button-reset {
  float: right;
  margin-left: 15px;
  background-color: red;
}

@media (max-width: 850px) {
  body {
    background-color: #FFF6CD;
  }
  .container {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 100%;
    height: 100%;
  }  
}